<html>
    <head><title>Bloggy's WebPage</title></head>
    <body>
        <div>
            <h1><a href="/">Bloggy Blog</a></h1>
        </div>
        <div>
            <p>Published: 14.02.2015, 12:33 by SerIgor</p>
            <h2><a href="/">Article One</a></h2>
            <p>Hello there people it is nice to see you again!</p>
        </div>
        <div>
                <p>Published: 12.12.2013, 22:43 by SerIgor</p>
            <h2><a href="/">Article Two</a></h2>
            <p>We will cover everything we need in this tutorial</p>
        </div>
    </body>
</html>